.apresentacao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(135deg, #104655, #0fd2e0);
    width: 100%;
    height: 80vh;
    overflow: hidden; /* Esconde tudo o que sair para fora da secção */
    color: #fff;
}

/* Estilo compartilhado das formas */
.forma-organica {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1); /* Efeito translúcido */
    border-radius: 50%; /* Transforma num círculo perfeito (ou podes usar o border-radius orgânico antes) */
    z-index: 1;
    margin-bottom: 50px;
}

/* Posição no canto inferior esquerdo */
.forma-organica.esquerda {
    bottom: -50px;
    left: -50px;
}

/* Posição no canto superior direito */
.forma-organica.direita {
    top: -60px;
    right: -60px;
    width: 350px; /* Podes mudar o tamanho se quiseres maior ou menor */
    height: 350px;
}

.apresentacao img {
    height: 65vh;
    border-radius: 25px;
    padding: 25px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.apresentacao-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 25px;
}

.apresentacao-container h1 {
    font-size: 4.5rem;
}

.idealconecta {
    color: #0C4C8A;
    font-size: 0.6rem;
    font-weight: bold;
    display: inline-block; /* Faz a caixa encolher e ocupar apenas o espaço do conteúdo */
    width: fit-content;
    background-color: rgb(255, 255, 255); /* O teu fundo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.3);  /* A tua borda */
    padding: 8px 16px;                            /* Espaçamento interno à volta do texto */
    border-radius: 20px;
}

#explorarEventos {
    border-radius: 10px;
    padding: 0.625rem;
    min-width: 180px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #142D54;
    background-color: rgb(255, 255, 0);
    border: 1px solid rgb(163, 163, 7);
    text-decoration: none;
}

#explorarGaleria {
    border-radius: 10px;
    padding: 0.625rem;
    margin-left: 8px;
    min-width: 180px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgba(255, 255, 255, 0.664);
    text-decoration: none;
}

.apresentacao-container div {
    position: relative;
    z-index: 10;
}



.container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: -30px auto 0 auto;
    gap: 15px;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
}

.container-cards a {
    text-decoration: none;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    line-height: 1.9;
    text-align: center;
}

.card p {
    font-size: 0.8rem;
    color: gray;
}

.container-ultimo-evento {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    width: 100%;
    gap: 15px 60px;
    margin: 50px 10px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;

    /* Estado inicial da animação de scroll (invisível e deslocada para a esquerda) */
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.container-ultimo-evento h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #07325e;
    grid-column: 1 / -1;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #142D54;
}

.container-ultimo-evento .event-img-wrapper {
    width: 100%;
    height: 320px; /* Um banner maior para dar destaque na home */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.container-ultimo-evento .imagem-evento {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.container-ultimo-evento .conteudo-evento {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.conteudo-evento h3 {
    font-size: 2rem;
}

.conteudo-evento span, 
.conteudo-evento p{
    color: rgb(102, 100, 100);
    font-weight: bold;
}

/* Estado final quando a classe 'ativo' é adicionada via JavaScript */
.container-ultimo-evento.ativo {
    opacity: 1;
    transform: translateX(0);
}

.container-hino {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 20%;
}

.container-hino h2 {
    color: #142D54;
    border-bottom: 3px solid #142D54;
    width:fit-content;
}

.container-hino .autor-hino {
    color: gray;
    padding-top: 5px;
}

.container-hino #letra-hino {
    padding-top: 10px;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 30px;
}

.container-sobre {
    background-color: #18181b; /* Tom escuro elegante */
    color: #ffffff;
    padding: 5rem 10%; 
    text-align: left;
}

.container-sobre h2 {
    color: rgb(192, 192, 11);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sobre-descricao {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d1d5db;
    max-width: 43.75rem; /* 700px */
    margin-bottom: 2.5rem;
}

/* Grid para os 3 pilares */
.sobre-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1.5rem;
}

.card-pilar {
    background-color: #27272a;
    padding: 1.875rem;
    border-radius: 0.5rem; 
    transition: transform 0.3s ease;
}

.card-pilar:hover {
    transform: translateY(-0.3125rem);
}

.card-pilar i {
    font-size: 2rem;
    color: rgb(8, 214, 8);
    margin-bottom: 1rem;
}

.card-pilar h3 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.card-pilar p {
    font-size: 0.95rem;
    color: #9ca3af;
    line-height: 1.5;
}

/* QUANDO A TELA FOR MENOR QUE 768px (Tablets e Celulares) */
@media (max-width: 768px) {

    .menu {
        height: auto;
    }

    .idealconecta {
        margin-top: 15px;
    }

    .container-cards {
        grid-template-columns: 1fr; /* Transforma em apenas 1 coluna empilhada */
        padding: 45px 10px 0 10px;
    }

    .apresentacao {
        height: auto; /* Deixa a altura automática baseada no conteúdo */
        padding-bottom: 40px; /* Dá um respiro abaixo dos botões */
    }

    .apresentacao img {
        display: none;
    }

    .apresentacao-container h1 {
        font-size: 3rem;
        
    }

    .container-ultimo-evento {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        padding: 10px;
        margin: 10px 0;
    }

    .container-ultimo-evento h2 {
        font-size: 2rem;
        margin-left: 1.5rem;
    }

    .container-ultimo-evento .imagem-evento {
        padding: 0 10px;
    }

    .container-ultimo-evento .event-img-wrapper {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 0 0;
    }

    .conteudo-evento {
        line-height: 0.7;
    }

    .container-ultimo-evento h3 {
        font-size: 1.2rem;
    }

    .container-ultimo-evento .conteudo-evento {
        margin-left: 0.7rem;
    }

    .conteudo-evento span, 
    .conteudo-evento p {
        font-size: 0.9rem;
        font-weight: normal;
    }

    .conteudo-evento p {
        text-align: left;
    }

    .container-hino {
        margin-left: 20px;
        margin-top: 25px;
    }

    .container-hino h2 {
        font-size: 1.5rem;
    }
}